@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>
        Giới thiệu về Ứng Dụng Phân Loại Nấm Độc
    </h3>
    <p>
        Trong một thế giới nơi sự đa dạng của các loài nấm có thể gây nguy hiểm cho sức khỏe con người, việc phân loại chính xác các loại nấm là vô cùng quan trọng. Ứng dụng phân loại nấm độc của chúng tôi được thiết kế để giúp người dùng dễ dàng nhận diện và phân loại các loại nấm trong môi trường tự nhiên, từ đó ngăn ngừa những rủi ro sức khỏe tiềm ẩn.
    </p>


</div>
